.Detailcontainer {
  min-height: 100vh;
  color: white;
  background-color: #303030;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4rem 2rem;
}
.decsSection {
  width: 70%;
  padding: 0rem 6rem;
}
.desctitle {
  margin-top: 2rem;
}
.detailHeader {
  display: flex;
  justify-content: space-between;
}
.buttonSection {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.voteAvarage {
  font-weight: bold;
  font-size: 28px;
}
.detailTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
}
.imageSection {
  display: flex;
  justify-content: end;
}

.movieDeleteButton {
  color: #fff;
  background: red;
  background-clip: border;
  border: 1px solid rgba(255, 0, 0, 0.504);
  z-index: 1;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 1px 3px;
}
.movieDeleteButton:active {
  translate: 1px 3px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3) inset;
}

@media screen and (max-width: 900px) {
  .Detailcontainer {
    grid-template-columns: 1fr;
  }
  .imageSection {
    justify-content: center;
  }
  .decsSection {
    width: 100%;
    padding: 0;
  }
}
