.navbarHeader {
  background-color: #303030;
  color: white;
  padding: 1rem;
}
.navbarAddSection {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
.navbarAddButton {
  color: #fff;
  background: #16ba557b;
  background-clip: border;
  border: 1px solid #16ba55;
  z-index: 1;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 1px 3px;
}
.navbarAddButton:active {
  translate: 1px 3px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3) inset;
}
